.Container {
  width: 100%;
  height: 100vh;
  background-color: #00001a;
}

.Wrapper {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.Info {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.CenterInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CenterInfo h1 {
  width: 100%;
  text-align: center;
  color: #eee;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
  font-size: 6rem;
  font-family: 'Gluten', cursive;
  line-height: 120%;
}
.CenterInfo h2 {
  width: 100%;
  text-align: center;
  color: #fde300;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 120%;
}
.CenterInfo h2:nth-of-type(3) {
  width: 100%;
  text-align: center;
  color: rgb(231, 90, 90);
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 120%;
}

.CenterInfo p {
  width: 100%;
  text-align: justify;
  font-size: 1rem;
  color: #fde300;
  font-family: 'Oswald', sans-serif;
}

.CenterInfo button {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #fff;
  background-color: rgb(0 101 144);
  padding: 0.8rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px 7px rgba(92, 92, 92, 0.3);
  transition: 0.3s all ease;
  font-family: 'Gluten', cursive;
}

.CenterInfo Button:hover {
  background-color: #ddd;
  color: rgb(0 101 144);
  box-shadow: 1px 2px 7px rgba(92, 92, 92, 0.8);
  transition: 0.3s all ease;
}

.Imagenes {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Colum1,
.Colum2 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.Colum2 {
  align-items: flex-end;
}
.Colum1 img,
.Colum2 img {
  height: 70%;
}